doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		title #{pgTitle}
		meta(name='description', content='')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='stylesheet', href='css/bootstrap.min.css')
		link(rel='stylesheet', href='css/main.css')
	body
		.container
			.masthead
				h3.text-muted Jarois PC Repair
				nav
					ul.nav.nav-justified
						li.active
							a(href='/') Home
						li
							a(href='/services') Services
						li
							a(href='/freebies') Freebies
						li
							a(href='/about') About
						li
							a(href='/contact') Contact
			block content
			// /container
		// Site footer
		footer.container-fluid
			hr
			p.text-center © 2016 Jarois PC Repair, Inc.